In [1]:
import pandas as pd

In [25]:
x = pd.Period('2019')   #use of Period function to specify the annual and ending month(dec)
x

Period('2019', 'A-DEC')

In [28]:
x.is_leap_year           #it shows x(2019) is a leap year or not (true or false)

False

In [43]:
x.start_time           #shows starting time of x(2019)....in a timestamp manner

Timestamp('2019-01-01 00:00:00')

In [45]:
x.end_time           #shows the end time of the year(2019)

Timestamp('2019-12-31 23:59:59.999999999')

In [47]:
f = pd.Period('2019-1',freq = 'M')   #here we stored the jan.2019 period in variable 'f'..we must give the freq="M"(month)
f                                          #so that it will show the particlar month which we mention

Period('2019-01', 'M')

In [48]:
f.start_time       #starting time of january,2019

Timestamp('2019-01-01 00:00:00')

In [50]:
f.end_time        #ending time of january,2019

Timestamp('2019-01-31 23:59:59.999999999')

In [52]:
f + 1    #we can also do arithmetic operation in this variable like it will show the next day/next month/next year(if +1)

Period('2019-02', 'M')

In [54]:
h = pd.Period('2019-09-02')  #if we mention the year-month-date(day), in period() then bydefault it will take it as D means day
h

Period('2019-09-02', 'D')

In [62]:
h = pd.Period('2019-09-02 23:00:00',freq = 'H')   #in hour frequency
h

Period('2019-09-02 23:00', 'H')

In [63]:
h.start_time                           #so starting time of h, in 'H'(hour) frequency

Timestamp('2019-09-02 23:00:00')

In [65]:
h.end_time                              #end time of  h

Timestamp('2019-09-02 23:59:59.999999999')

In [67]:
h+1                                           #it added one hour to the time of h,

Period('2019-09-03 00:00', 'H')

## in financial time series analysis people always use quarterly time period, most of the companies in us report quarterly...

## one quarter = 3 months of a year, so there are 4 quarters in a year ...
## quarter starts from january-april-july-october...like that

## lets create  a quarter

In [74]:
q = pd.Period('2019Q1')     #we specified quarter of the 2019 and its showing that Q-DEC means quarter ends in december
q

Period('2019Q2', 'Q-DEC')

In [85]:
q+1                         #we added 1 to the q..it shows quarter 2

Period('2019Q2', 'Q-DEC')

In [89]:
j = pd.Period('2018Q1',freq = 'Q-JAN')   #frequency is Q-JAN means quarte is ending in january
j

Period('2018Q1', 'Q-JAN')

## lets see what is the starting time of this ending quarter

In [91]:
j.start_time     #that was started from the previous year 2017 february after the end of january quarter

Timestamp('2017-02-01 00:00:00')

In [92]:
j = pd.Period('2018Q1',freq = 'Q-JAN')   
j

Period('2018Q1', 'Q-JAN')

In [96]:
j2 = pd.Period('2019Q2',freq = 'Q-JAN')   
j2

Period('2019Q2', 'Q-JAN')

In [98]:
j2 - j                  #substraction from one quarter period of a year from another, shows number of quarters present

In [109]:
idx = pd.period_range('2011', '2017', freq = 'Q')  #from 2011 to 2017 it shows the number of periods in each year
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [110]:
idx[0].start_time

Timestamp('2011-01-01 00:00:00')

In [111]:
idx[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

## if we want assign some random values to the quarters then we can do using NUMPY

In [112]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)),idx)
ps

2011Q1   -0.167635
2011Q2    0.159209
2011Q3   -0.849366
2011Q4    0.493076
2012Q1    0.760175
2012Q2   -0.255718
2012Q3   -0.031156
2012Q4   -0.361890
2013Q1   -0.040332
2013Q2   -0.804733
2013Q3   -0.865366
2013Q4    0.520734
2014Q1   -2.055794
2014Q2   -0.130023
2014Q3   -0.233155
2014Q4    0.558714
2015Q1    0.602459
2015Q2   -1.158851
2015Q3   -0.811373
2015Q4    0.804433
2016Q1    1.898960
2016Q2   -0.912387
2016Q3    1.016671
2016Q4   -0.700993
2017Q1   -0.384570
Freq: Q-DEC, dtype: float64

In [114]:
ps.index                  #we can see the period index

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [116]:
ps['2014']    #if we want to view the quarters of particular year

2014Q1   -2.055794
2014Q2   -0.130023
2014Q3   -0.233155
2014Q4    0.558714
Freq: Q-DEC, dtype: float64

In [118]:
ps['2014':';2016']     #if we  want to see the quarters in a range of years

2014Q1   -2.055794
2014Q2   -0.130023
2014Q3   -0.233155
2014Q4    0.558714
2015Q1    0.602459
2015Q2   -1.158851
2015Q3   -0.811373
2015Q4    0.804433
2016Q1    1.898960
2016Q2   -0.912387
2016Q3    1.016671
2016Q4   -0.700993
Freq: Q-DEC, dtype: float64

In [122]:
pst = ps.to_timestamp()   #now if we want to convert the quarters into date and time format--we can use to_timestamp function
pst

2011-01-01   -0.167635
2011-04-01    0.159209
2011-07-01   -0.849366
2011-10-01    0.493076
2012-01-01    0.760175
2012-04-01   -0.255718
2012-07-01   -0.031156
2012-10-01   -0.361890
2013-01-01   -0.040332
2013-04-01   -0.804733
2013-07-01   -0.865366
2013-10-01    0.520734
2014-01-01   -2.055794
2014-04-01   -0.130023
2014-07-01   -0.233155
2014-10-01    0.558714
2015-01-01    0.602459
2015-04-01   -1.158851
2015-07-01   -0.811373
2015-10-01    0.804433
2016-01-01    1.898960
2016-04-01   -0.912387
2016-07-01    1.016671
2016-10-01   -0.700993
2017-01-01   -0.384570
Freq: QS-OCT, dtype: float64

In [123]:
pst.index    #its a datetime index

DatetimeIndex(['2011-01-01', '2011-04-01', '2011-07-01', '2011-10-01',
               '2012-01-01', '2012-04-01', '2012-07-01', '2012-10-01',
               '2013-01-01', '2013-04-01', '2013-07-01', '2013-10-01',
               '2014-01-01', '2014-04-01', '2014-07-01', '2014-10-01',
               '2015-01-01', '2015-04-01', '2015-07-01', '2015-10-01',
               '2016-01-01', '2016-04-01', '2016-07-01', '2016-10-01',
               '2017-01-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

## if we want to revert  back to quarter format(period)....

In [126]:
pst.to_period()       #use of to_period function

2011Q1   -0.167635
2011Q2    0.159209
2011Q3   -0.849366
2011Q4    0.493076
2012Q1    0.760175
2012Q2   -0.255718
2012Q3   -0.031156
2012Q4   -0.361890
2013Q1   -0.040332
2013Q2   -0.804733
2013Q3   -0.865366
2013Q4    0.520734
2014Q1   -2.055794
2014Q2   -0.130023
2014Q3   -0.233155
2014Q4    0.558714
2015Q1    0.602459
2015Q2   -1.158851
2015Q3   -0.811373
2015Q4    0.804433
2016Q1    1.898960
2016Q2   -0.912387
2016Q3    1.016671
2016Q4   -0.700993
2017Q1   -0.384570
Freq: Q-DEC, dtype: float64

## lets do some handson exercise on dataframe regarding quarters...
## to convert the quarters in to starting and ending dates

In [135]:
df1 = pd.read_csv('wmt.csv')
df1

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [136]:
df1.set_index('Line Item',inplace=True)      #we set the line item column as index(row)
df1

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [137]:
df1 = df1.T          #we transposed the table(rows>columns and columns>rows)
df1

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [140]:
df1.index    #we can see that the index quarters has data type 'object', we will convert it to period

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [143]:
df1.index=pd.PeriodIndex(df1.index, freq='Q-JAN')  #its converted to period using PeriodIndex() function
df1.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [144]:
df1['start date']= df1.index.map(lambda x:x.start_time)
df1

Line Item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [146]:
df1['end date']= df1.index.map(lambda x:x.end_time)
df1

Line Item  Revenue  Expenses  Profit start date                      end date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999