In [3]:
x=[10,20,15,56,43] #this is list, using square[] brackets
print(x)
type(x) #shows that x has 'list' data type

[10, 20, 15, 56, 43]

list

In [5]:
y={14,14,20,10,5,6,7,8} #this is set, using curly{} brackets, it doesnot repeat the same given values
print(y) #prints in ascending order
type(y) #shows that y has 'set' data type

{5, 6, 7, 8, 10, 14, 20}

set

In [9]:
t=(12,45,67,23,45,5,9) #this is tuple, using parenthesis()
print(t)
type(t) #shows that t has 'tuple' data type

(12, 45, 67, 23, 45, 5, 9)

tuple

In [15]:
amit='geeta' #this is string,which has characters in a single/double quote
am='b'
type(amit) #shows that amit has string(str) data type
type(am)

str

In [27]:
x=range(10) #this is to give a range of numbers 
print(x)
type(x)
#to print it in numbers, we can convert the range into a list 
y=list(range(10)) #conversion takes place by using list as function
print(y)
type(x)   #shows that the type of x is range

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

range

In [29]:
list(range(0,10,2)) #shows 0 to 10 by 2 difference

[0, 2, 4, 6, 8]

In [33]:
m={'amit':'nokia','sashrij':'redmi','arnav':'poko'} # its dictionary,has keys : values
print(m)

{'amit': 'nokia', 'sashrij': 'redmi', 'arnav': 'poko'}

dict_values(['nokia', 'redmi', 'poko'])

In [38]:
m.keys() #shows all the keys of the dictionary 'm'

dict_keys(['amit', 'sashrij', 'arnav'])

In [40]:
m.values() #shows all the values of the dictionary 'm'

dict_values(['nokia', 'redmi', 'poko'])

In [46]:
m.get('amit') #to know what value, a key holds in 'm' dictionary

'nokia'

In [48]:
m['amit'] #another method to get values, by giving key name

'nokia'