In [1]:
import pandas as pd
df = pd.read_csv('aapl_no_dates.csv')     #in this dataset we dont have any dates
df.head(5)

     Open    High     Low   Close    Volume
0  144.88  145.30  143.10  143.50  14277848
1  143.69  144.79  142.72  144.09  21569557
2  143.02  143.50  142.41  142.73  24128782
3  142.90  144.75  142.90  144.18  19201712
4  144.11  145.95  143.37  145.06  21090636

In [2]:
pd.date_range(start = '7/1/2017', end = '7/21/2017', freq = 'B')#freq is 'B' means business days...& use of date_range function

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

## there is a date created such as 4th july 2017, which is a national holiday in us, so we have to remove it, coz stocks do not trade in this day, datsy frequency B will not work here

In [3]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

#usfederalholidaycalendar is a class in pandas, it specifies specific holidays in the US

In [4]:
usb = CustomBusinessDay(calendar=USFederalHolidayCalendar()) #created a subclass

In [5]:
usb

In [6]:
rng = pd.date_range(start = '7/1/2017', end = '7/21/2017', freq = usb)  #instead of 'B' we gave  freq as 'usb'
rng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

## so now we can see that there is no 4th july is present in the dates coz we gave the frequency as usb

In [7]:
df.set_index(rng,inplace=True)    #then we set the dates as index column as we placed 'rng' in it
df

              Open    High     Low   Close    Volume
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-10  144.11  145.95  143.37  145.06  21090636
2017-07-11  144.73  145.85  144.38  145.53  19781836
2017-07-12  145.87  146.18  144.82  145.74  24884478
2017-07-13  145.50  148.49  145.44  147.77  25199373
2017-07-14  147.97  149.33  147.33  149.04  20132061
2017-07-17  148.82  150.90  148.57  149.56  23793456
2017-07-18  149.20  150.13  148.67  150.08  17868792
2017-07-19  150.48  151.42  149.95  151.02  20922969
2017-07-20  151.50  151.74  150.19  150.34  17243748
2017-07-21  149.99  150.44  148.88  150.27  26252630

## we can also give our own custom made holiday using a class abstractholidaycalendar,
## which is associated with the usfederalholidaycalendar 
## we can write like this----usfederalholidaycalendar(abstractholidaycalendar)

In [16]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday  #to make my bday a national holiday
class myCalendar(AbstractHolidayCalendar):              #creating a custom class as mycalendar
    rules = [
        Holiday('Amit"s birthday', month=7, day=13),#, observance=nearest_workday),
    ]

In [19]:
my_bday = CustomBusinessDay(calendar=myCalendar())  #created a class --> my_bday
pd.date_range('7/1/2017','7/30/2017',freq=my_bday)

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21', '2017-07-24', '2017-07-25',
               '2017-07-26', '2017-07-27', '2017-07-28'],
              dtype='datetime64[ns]', freq='C')

## so we can see now that 13th july is not present in the dates, coz we specified it as a national holiday

## In Egypt, friday and saturday is holiday, and sunday is working day

## so to handle that we have to do something..lets see...

In [22]:
b = CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu')               #use of weekmask to specify required working/holidays
pd.date_range(start = '7/1/2017', end = '7/21/2017', freq =b)            #freq is b


#so here 2nd july is sunday by calendar but its not a holiday because we modified it
# 7th and 8th are not present because those are friday and saturday

DatetimeIndex(['2017-07-02', '2017-07-03', '2017-07-04', '2017-07-05',
               '2017-07-06', '2017-07-09', '2017-07-10', '2017-07-11',
               '2017-07-12', '2017-07-13', '2017-07-16', '2017-07-17',
               '2017-07-18', '2017-07-19', '2017-07-20'],
              dtype='datetime64[ns]', freq='C')

## Create a class in which custombusiness day is present and then, the class object can be specified as a frequency, by which the dates will be created accordingly.