In [1]:
import pandas as pd

In [2]:
dates = ['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05','20170105']

#taken a list named as dates, which consists of 5th january 2017 in different formats

In [3]:
pd.to_datetime(dates)          #use of to_datetime function of pandas to make a better format for every dates(2017-01-05)

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05'],
              dtype='datetime64[ns]', freq=None)

## suppose we have time associated with the dates as well, in that case

In [4]:
dt = ['2017-01-05 2:30:00 PM', 'Jan 5, 2017 14:30:00', '01/05/2016', '2017.01.05', '2017/01/05','20170105']
pd.to_datetime(dt)

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00',
               '2016-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [7]:
pd.to_datetime('05/01/2017')

Timestamp('2017-05-01 00:00:00')

## we have given the data in dd/mm/yy format but output shows in mm/dd/yy format
## in EUROPE its dd/mm/yy format but in US , its mm/dd/yy

In [10]:
pd.to_datetime('05/01/2017',dayfirst=True) #now dayfirst=true means the date will be assigned first then month, then year(europe)

Timestamp('2017-01-05 00:00:00')

## if there is an invalid string present in the date list ,then it will show the error, to ignore it, we can do something like this

In [15]:
dates = ['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05','20170105','abc']
pd.to_datetime(dates,errors='ignore')   #ignored the string 'abc' and print

Index(['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05',
       '20170105', 'abc'],
      dtype='object')

## but by ignoring the error , we havnt got the converted date time format,so lets solve it

In [18]:
dates = ['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05','20170105','abx']
pd.to_datetime(dates,errors='coerce')    #passing the errors as coerce means it will show the string as a NAT value while 
                                             #converting the date time format also

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05',        'NaT'],
              dtype='datetime64[ns]', freq=None)

# EPOCH

In [23]:
current_epoch = 1501324478       #this is the epoch/unix time since jan1, 1970, number of seconds
pd.to_datetime(current_epoch,unit='s')    #we gave unit='s' ,because bydefault the unit is in nanosecond, but we give the epoch
                                                  #in seconds, so we converted the nanosecond into seconds

Timestamp('2017-07-29 10:34:38')

## we can see the pd.to_datetime function converted the epoch time into human readability

In [27]:
t = 1501324478       
dt = pd.to_datetime([t],unit='s')   #incase we want this as an index and 's'
dt

DatetimeIndex(['2017-07-29 10:34:38'], dtype='datetime64[ns]', freq=None)

## to revert back to the epoch from the datetime

In [28]:
dt.view('int64')

array([1501324478000000000], dtype=int64)

### the extra '0's are because of the bydefault nanosecond