## Let's see how to read and write CSV files

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('stock_data.csv')
df1

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

### #to skip a row-->  
     #df1 = pd.read_csv('stock_data.csv',skiprow=1/2/3)
### it will exactly skip that particular row in excel and read the rest

### #to read the exact number of row
        #df1 = pd.read_csv('stock_data.csv',nrows = 3/2/1) 
### the number we give decides how many rows we wanna print

In [10]:
df1 = pd.read_csv('stock_data.csv', na_values=['not available','n.a.']) #to replace the messy n.a. and not available with NAN
df1

  tickers    eps  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3    RIL     NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

### we can see here that there is a -1 present in the revenue column, which is impossible in a company
### so to remove that we can use some code

### if we simply put the code like this 
    #df1 = pd.read_csv('stock_data.csv', na_values=['not available','n.a.'])
### it will convert the -1.00 also to NAN,  which is present  in 'eps' column,which we dont want so to avoid that we have to give specific
### codes. Let's see

In [13]:
df1 = pd.read_csv('stock_data.csv', na_values={
    'eps':['not available', 'n.a.'],                      #we gone through each column
    'revenue':['not available','n.a.',-1],                #with the help of dictionary and its values which we want to give
    'people':['not available','n.a.']                       #using na_values, only the column in which we want -1 as NAN
})                                                         #rest will be as it is
df1

  tickers    eps  revenue price         people
0   GOOGL  27.82     87.0   845     larry page
1     WMT   4.61    484.0    65            NaN
2    MSFT  -1.00     85.0    64     bill gates
3    RIL     NaN     50.0  1023  mukesh ambani
4    TATA   5.60      NaN  n.a.     ratan tata

### we got it as we wanted using na_values feature

## lets learn how to writing back to csv>!

In [18]:
df1.to_csv('amit.csv',index=False)   #we have created a duplicate of the dataframe df1 and named it as amit.csv, it will be stored in local

### it also add an index column bydefault, to the amit.csv file so we can delete it

In [20]:
df1.columns

Index(['tickers', 'eps', 'revenue', 'price', 'people'], dtype='object')

### if we want to make change to the csv, suppose we want to see two columns in the excel csv file

In [25]:
df1.to_csv('amit.csv',columns=['tickers','eps'])

### now if we check the csv file from local, we can see only two columns, which we have ,mentioned here

### # if we want to skip the header part, we can do this
                 df1.to_csv('amit.csv',header=False)

   # THE END





# Now Let's see how to read and write excel files